*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

/* #region MOBILE */
main {
    margin: 2rem;
    width: auto;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr, 2fr;
    grid-gap: 3rem;
}

.words {
    width: 100%;
    height: 100%;
}

.words h1 {
    text-align: center;
}

.words .parkList {
    overflow-y: scroll;
    max-height: 20vh;
}

#map {
    height: 60vh;
}

.leaflet-bottom {
    opacity: .5;
}
