@import url('https://fonts.googleapis.com/css2?family=Lora&family=Work+Sans&display=swap');


*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-image: url(/images/background.jpg);
    background-attachment: fixed;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

/* #region MOBILE */
main {
    margin: 2rem;
    width: auto;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    grid-gap: 3rem;
}

.words {
    width: 100%;
    height: 100%;
}

.words h1 {
    text-align: center;
}

.words .parkList {
    overflow-y: scroll;
    max-height: 40vh;
}

#map {
    height: 300px;
}

.leaflet-bottom {
    opacity: .5;
}

li{
    background-color: #56CCF2;
    margin: 1rem;
    padding: 1rem;
    border-radius: 25px;
    
}

ul{
    display:grid;
  grid-template-columns: 49% 49%;
  grid-row: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

header{
    background-color: #56CCF2;
    margin: top;
    display: flex;
    justify-content: center;
    padding: 1rem;
}